.info-card__body {
  display: flex;
  max-width: 1140px;
  
}

.info-card__flag {
  flex: 0 0 40%;
  
}

.info-card__flag-img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.info-card__details {
  display: flex;
 
}

.info-card__info {
  flex: 0 0 60%;
  padding-left: 90px;
  text-align: left;
}

.info-card__section1 {
  flex: 0 0 50%;
}

.info-card__section2 {
  flex: 0 0 50%;
}

.info-card__subtitle_bold {
  font-weight: 700;
}

.info-card__border-country {
  border: 1px solid rgb(236, 232, 232);
  padding: 5px 15px;
  margin: 0 10px 7px 0;
  border-radius: 4px;
  background-color: var(--bg-color-items);
  color: var(--color-text);
  cursor: pointer;
}

.info-card__border {
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
}

.info-card__border-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}