.header {
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color-items);
}

.header__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__link {
  text-decoration: none;
}

.header__title {
  margin: 0;
  color: var(--color-text);
}

.header__theme-button {
  display: block;
  position: relative;
  background-color: transparent;
  border: none;
  color: inherit;
}

.header__theme-button:hover {
  cursor: pointer;

}

.header__theme-button::before {
  content: " ";
  position: absolute;
  background-image: var(--bg-image);
  width: var(--theme-icon-width);
  height: var(--theme-icon-height);
  left: -20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}