.serach {
  padding: 50px 10px 0 10px;
}

.search__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.search__input {
  background-image: url('../../images/icon-search.svg');
  background-repeat: no-repeat;
  background-position: 20px;
  padding: 10px 0 10px 60px;
  border: none;
  box-shadow: 0 0 12px -5px rgb(0 0 0 / 20%);
  width: 400px;
  border-radius: 5px;
  background-color: var(--bg-color-items);
  color: inherit;
}

.css-1nmdiq5-menu {
  background-color: var(--bg-color-items) !important;
  color: var(--color-text);
}

.css-1dimb5e-singleValue {
  color: var(--color-text) !important;
}


@media (max-width: 680px) {
  .search__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search__input {
    margin-bottom: 30px;
    width: 250px;
  }
 
  
}