html[data-theme='light'] {
  --background-color-body: #fafafa;
  --bg-color-items: white;
  --color-text: black;
  --box-shadow: 0 4px 8px 4px rgba(49,49,49,.1);
  --select-hover: lightBlue;
  --bg-image: url('./images/icon-moon.svg');
  --theme-icon-width: 15px;
  --theme-icon-height: 15px;
  --bg-color-preloader: #9bd9f3;
}

html[data-theme='dark'] {
  --background-color-body: rgb(32, 44, 55);
  --bg-color-items: rgb(43, 57, 69);
  --color-text: white;
  --box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
  --select-hover: blue;
  --bg-image: url('./images/icons8-sun(1).svg');
  --theme-icon-width: 20px;
  --theme-icon-height: 20px;
  --bg-color-preloader: #073042;
}





@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./components/Root/Root.css');
@import url('./components/Header/Header.css');
@import url('./components/Search/Search.css');
@import url('./pages/Main/Main.css');
@import url('./components/CountryCard/CountryCard.css');
@import url('./pages/CountryPage/CountryPage.css');
@import url('./components/InfoCard/InfoCard.css');
@import url('./components/Error/Error.css')
