.card {
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  background-color: var(--bg-color-items);
  width: 250px;
  box-sizing: border-box;
  border-radius: 10px;
}

.card__body {
  padding: 20px;
  text-align: left;
}

.card__title {
  font-size: 20px;
  margin: 0 0 15px 0;
}

.card__info_bold {
  font-weight: 600;
}

.card__image {
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.card__image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__info {
  margin: 0 0 5px 0;
}